/* General styles */
body {
  font-family: sans-serif;
  background-color: rgb(42, 0, 48);
  -webkit-text-fill-color: rgb(253, 175, 123); /* Adjusts text color */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Introduction section */
.intro {
  justify-content: center;
  text-align: center;
  border: 3px solid;
  margin: 10px;
  border-radius: 15px;
  background-color: black;
}

/* Welcome content */
.contentwelcome {
  border: 2px solid rgb(145, 10, 103);
  padding: 10px;
  justify-content: center;
  text-align: le;
  border-radius: 15px;
  background-color: rgb(60, 7, 83);
  margin: 10px;
}

.bar {
  border: 2px solid rgb(145, 10, 103);
  padding: 10px;
  justify-content: center;
  text-align: right;
  border-radius: 15px;
  background-color: rgb(60, 7, 83);
  margin: 10px;
}

.bartext {
  padding-right: 1em;
}



.outerdiv {
  border: 2px solid rgb(145, 10, 103);
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(42, 6, 58);
  margin: 10px;
}

/* Profile picture */
.pfp {
  border-radius: 50%;
  border: 2px solid rgb(145, 10, 103);
  width: 50%; /* Adjust the width as needed */
  max-width: 150px; /* Limit the maximum width to maintain proportions */
  height: auto; /* Let the height adjust proportionally */
}

.social {
  border-radius: 50%;
  width: 25%; /* Adjust the width as needed */
  max-width: 150px; /* Limit the maximum width to maintain proportions */
  height: auto; /* Let the height adjust proportionally */
}

@media screen and (max-width: 640px) {
  .pfp {
       width: 30%;
  }
}

/* Individual photo */
#photo {
  border: 2px solid rgb(145, 10, 103);
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Allow the height to adjust proportionally to the width */
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
}

/* Footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(60, 7, 83);
  color: white;
}

/* Hyperlinks */
a {
  text-decoration: none;
  -webkit-text-fill-color: magenta; /* Adjusts link color */
}

/* Social media icons container */
.flex-container-socials {
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(60, 7, 83);
  justify-content: center;
  
}

.flex-container-socials > div {
  width: 100px;
  margin: 5px; /* Adjust margin */
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .flex-container-socials > div {
    width: 120px;
    margin: 5px; /* Adjust margin */
    text-align: center;
    font-size: 30px;
  }
}

/* Flexible box container */
.flex-container {
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container > div {
  width: 10px;
  margin: 5px; /* Adjust margin */
  text-align: center;
  line-height: 1px;
  font-size: 30px;
}

/* Flexible box container for social media links */
.foss a {
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}

/* Grid layout */
.row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}

.column img {
  border: 2px solid rgb(145, 10, 103);
  width: 100%; /* Ensure images cover the entire column */
  height: 500px; /* Set a fixed height for all images */
  object-fit: cover; /* Cover the entire space without stretching */
}

/* Responsive layout for grid */
@media screen and (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 100%;
  }
}

/* Responsive layout for grid on smaller screens */
@media screen and (max-width: 600px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }

}

/* Navigation bar styles */
.navbar {
  background-color: rgb(60, 7, 83);
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgb(145, 10, 103);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Adjusted to fit properly on mobile */
  margin: 0 auto;
  padding: 0 10px; /* Adjusted padding for smaller screens */
}

.brand-logo {
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-left: 10px; /* Adjusted margin for smaller screens */
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 10px; /* Adjusted margin for smaller screens */
}

/* Hover effect */
.nav-links a:hover {
  text-decoration: underline;
}